* {
    margin: 0;
    padding: 0;
    font-family: 'Fira Sans', sans-serif;
}

html,
body {
    height: 100%;

}

body {
    background-color: #3d3d3d;
}

/*  Sign In  */
.signIn {
    color: #fff;
    font-size: 1.2rem;
    width: 335px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    margin-top: 15%;
    /*
    position: fixed;
    top: 50%;
    left: 50%;
    width: 16em;
    height: 18em;
    margin-top: -9em;
    margin-left: -8em;
*/

}

.signIn h3 {
    text-align: center;
    margin-bottom: 15px;
}

.signIn input {
    display: block;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px 10px;
    width: 93.25%;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 1rem;
    transition: 0.3s;
}

.bIn {
    display: block;
    width: 100%;
    padding: .5rem;
    background: #c3c3c3;
    border: 1px solid #c3c3c3;
    border-radius: 5px;
    font-size: inherit;

}

.bIn:hover {
    background-color: #eee;
    border: 1px solid #c3c3c3;
    cursor: pointer;
}

/*  Log Out  */
.container {
    min-height: 100vh;
    position: relative;
}

.loggedIn {
    display: none;
    padding-bottom: 50px;
}

.signOut {
    color: #fff;
    text-align: right;
    padding: 5px;
}

/*  TOP  */
.title {
    color: #ffffff;
    text-align: center;
    font-size: 3rem;
    padding: 15px;
}

.timeframe {
    display: grid;
    justify-items: center;
    margin: 20px 0;
}

.timeframe select,
.bOut {
    font-size: 1rem;
    background: #c3c3c3;
    border-radius: 5px;
    padding: 3px;
}

.blink {
    color: #fff;
    padding-top: 10px;
    animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

/*  MIDDLE  */
.product {
    width: 650px;
    color: #fff;
    margin: 0 auto;
    font-size: 1.4rem;
    margin-bottom: 50px;
}

.list {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /*    justify-items: end;*/
    font-size: 1.1rem;
    margin: 20px auto;
}

.list-item {
    grid-column: 1/ span 2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.list-item span {
    justify-self: center;
}

/* Grid position to line up*/

#sun,
#cmt {
    text-align: right;
    border-bottom: none;
}

/*  BOTTOM  */
.button {
    margin: 0px auto;
    text-align: center;
}


/* browser support for buttons and select inputs */
input {
    /*    -webkit-appearance: none;*/
    -moz-appearance: none;
}

#print,
#submit {
    padding: .5rem;
    background: #c3c3c3;
    border: none;
    border-radius: 4px;
    height: 40px;
    width: 80px;
    font-size: 1.25rem;
    margin: 0px auto;
    margin-bottom: 50px;
}

li {
    margin-bottom: 15px;
}

.difUL {
    margin-top: 15px;
}

footer {
    background-color: #c3c3c3;
    font-size: 1.1rem;
    line-height: inherit;
    text-align: center;
    padding: 15px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

/*  HIDDEN  */
.morning,
.evening,
.cmtText {
    display: none;
}

#preview {
    display: none;
    height: 500px;
    width: 500px;
    background: #ffffff;
    padding: 15px;
    margin: auto;
    margin-bottom: 50px;
}

#amList,
#pmList,
.cmtText h3 {
    margin-top: 15px;
}

#print {
    display: none;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 568px) {
    .signIn {
        margin-top: 50%;
    }

    .signIn input {
        width: 93%;
    }

    #container {
        margin: 0 auto;
    }

    .product {
        width: 90%;
    }

    #dif {
        grid-area: dif;
    }

    #cli {
        grid-area: cli;
    }

    #mup {
        grid-area: mup;
    }

    #duo {
        grid-area: duo;
    }

    #bpw {
        grid-area: bpw;
    }

    #nia {
        grid-area: nia;
    }

    #sun {
        grid-area: sun;
        text-align: center;
    }

    #cmt {
        grid-area: cmt;
        text-align: center;
    }

    .list {
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas:
            "dif"
            "cli"
            "mup"
            "duo"
            "bpw"
            "nia"
            "sun"
            "cmt";
    }

    .list-item span {
        justify-self: end;
    }

    #preview {
        width: 75%;
        padding: 25px 30px;
    }
}
